<div class="flex" style="align-items: center">
  <div>
    <button class = "bubble hover-1 w-100" (click)="openModal()">
      ouvrir modale
    </button>
    <br><br>



    <button class = "bubble hover-1 w-100" (click)="openFormModal()">
      ouvrir formulate
    </button>
    <br><br>

    <button class = "bubble hover-1 w-100" (click)="openRubricModal()">
      ouvrir rubrique
    </button>
    <br><br>

    <button class = "bubble hover-1 w-100" (click)="openImageInputModal()">
      ouvrir image
    </button>
    <br><br>

    <span>{{text}}</span>
  </div>
</div>
