@use "../../shared/palette.scss" as styles;
@import "../../app.component.scss";

.navbar{
  align-items: flex-start;
  div{
    display:flex;
    justify-content: space-around;

    :only-child.nav{
      display:flex;
      justify-content: space-between;

    }
    .logo{
      width: 100%;
      height : 6vw
    }
  }
  div:first-child{
    justify-content: flex-start;
  }

  div:last-child{
    justify-content: flex-end;
  }
}

.nav{
  a{
    color : styles.$color-colored-gris;
  }
}
