.image{
  background-position: left;
  background-size: contain;
  background-repeat: no-repeat;
}



.fond{
  background-size: cover;
}

.cover{
  width: 100%;
  height:100%
}

.angled-rb{
  border-radius: 0 0 1rem 0;
}
