$color-blanc: #fff;
$color-noir: #000;
$color-gris: #666;
$color-colored-gris: #416d87;
$color-error: #8b3030;
$color-blanc-gris-colored: #cfd9e6;
$color-blanc-gris-1: #DADFE6;
$color-blanc-gris-0: #eee;
