@use "./shared/palette.scss" as styles;

.nav-link {
  font-size: large;
}

.bubble {
  border-radius: 2rem 0 2rem 2rem;
  &.reversed-bubble{
    border-radius: 0 2rem 2rem 2rem;
  }

  &.bubble-right{
    padding-left : 0.25rem;
    border-radius: 0 0 2rem 0;
    &.reversed-bubble{
      border-radius: 0 2rem 0 0;
    }
  }

  &.bubble-left{
    border-radius: 2rem 0 0 2rem;
    border-right: 0;
  }
  &.bubble-up{
    border-radius: 2rem 0 0 0;
    &.reversed-bubble{
      border-radius: 0 2rem 0 0;
    }
  }
  &.bubble-down{
    border-radius: 0 0 2rem 2rem;
  }
}

.bubble,.bubble_padding{
  padding : 0.25rem 1.5rem  0.25rem 1.5rem;
}

.flex{
  display: flex;
  justify-content: space-around;
  align-items: stretch;

  &.align-start{
    align-items: start;
  }

  &.justify-start{
    justify-content: start;
  }

  &.justify-end{
    justify-content: end;
  }
  &.align-end{
    align-items: end;
  }

  &.align-center{
    align-items: center;
  }

  &.short-line{
    padding-left: 10%;
    padding-right: 10%;
  }
}

.bordered, .hover-bordered:hover {
  border-width: 2px;
  border-style: inset;
  border-color: rgb(118, 118, 118) rgb(133, 133, 133);
  border-image: initial;
}

.hover-bordered{
  transition: all;
  transition-duration: 350ms;
}

.disabled{
  color : styles.$color-blanc-gris-1;
  cursor: auto;
}

.hided {
  display: none;
}

.italic{
  font-style: italic;
}

.colored{
  background-color: styles.$color-colored-gris;
}

.hover-1{
  background-color: styles.$color-blanc-gris-colored;
}

.hover-1:hover{
  background-color: styles.$color-blanc-gris-1;
}

.hover-0:hover, input{
  background-color: styles.$color-blanc-gris-0;
}

.hover-w:hover, input:hover{
  background-color: styles.$color-blanc;
}

.hover-0,.hover-1,.hover-w,input{
  transition: background-color;
  transition-duration: 250ms;
}

.transition{
  transition: all;
  transition-duration: 250ms;
}

.oneline{
  white-space : nowrap;
}

button{
  min-height: 2rem;
}

mainTitle{
  text-align: center;
}
