<div class = "flex" style="flex-direction: column-reverse">
  <main>
    <div></div>
    <section>
      <div>
        <div class="page">
          <router-outlet></router-outlet>
        </div>
        <pm-line></pm-line>

      </div>

    </section>
  </main>

  <header [ngSwitch]="status">
    <pm-admin-header *ngSwitchCase="WpPath.admin.root" [pageTitle]="pageTitle"></pm-admin-header>
    <pm-voyageur-header *ngSwitchCase="WpPath.voyageur.root" [pageTitle]="pageTitle"></pm-voyageur-header>
    <pm-bailleur-header *ngSwitchCase="WpPath.bailleur.root" [pageTitle]="pageTitle"></pm-bailleur-header>
    <pm-presta-header *ngSwitchCase="WpPath.prestate.root" [pageTitle]="pageTitle"></pm-presta-header>
    <pm-header *ngSwitchDefault [pageTitle]="pageTitle"></pm-header>
  </header>
</div>

<pm-modale></pm-modale>
