@use "../../palette.scss" as styles;
@import '../../../app.component.scss';

.form-element{
  margin: 0.5rem;
}

h4{
  text-align: center;
}

.right {
  text-align : right ;
}

.center {
  text-align: center;
}
