<ng-container *ngIf="field" [ngSwitch]="field.type">
  <h6 *ngIf="field.title">{{translator.echo(field.title)}}</h6>
  <ng-container *ngSwitchCase="'dropdown'" >
    <pm-dropdown
      [default]="field.default"
      [title]="field.instruction"
      [choices] = "(field.choices)?field.choices:[]"
      [class]="field.sclass"
      (value_up)="onSubmit($event)"
    ></pm-dropdown>
  </ng-container>

  <ng-container *ngSwitchCase="'text'">
    <input type="text" class="bubble hover-w w-100 {{field.sclass}}"
       [title]="translator.echo(field.instruction?field.instruction:field.placeholder)"
       [placeholder]="translator.echo(field.placeholder)"
       [(ngModel)]="field._value"
    >
  </ng-container>
  <ng-container *ngSwitchCase="'longtext'">
    <textarea type="text" class="bubble hover-w w-100 {{field.sclass}}"
          [value]="field.default"
          [title]="translator.echo(field.instruction?field.instruction:field.placeholder)"
          [placeholder]="translator.echo(field.placeholder)"
          [(ngModel)]="field._value"
    >{{field.default}}</textarea>
  </ng-container>
  <ng-container *ngSwitchCase="'num'">
    <input type="number" class="bubble hover-w w-100 {{field.sclass}}"
           [value]="field.default"

           [step]="field.step"
           [max]="number_limit_pipe(field.number_limit?.max)"
           [min]="number_limit_pipe(field.number_limit?.min)"
           [title]="translator.echo(field.instruction?field.instruction:field.placeholder)"
           [placeholder]="translator.echo(field.placeholder)"
           [(ngModel)]="field._value"
    >
  </ng-container>

  <ng-container *ngSwitchCase="'email'">
    <input type="email" class="bubble hover-w w-100 {{field.sclass}}"
           [value]="field.default"

           [title]="translator.echo(field.instruction?field.instruction:field.placeholder)"
           [placeholder]="translator.echo(field.placeholder)"
           [(ngModel)]="field._value"
    >
  </ng-container>

  <ng-container *ngSwitchCase="'password'">
    <input type="password" class="bubble hover-w w-100 {{field.sclass}}"
           [value]="field.default"

           [title]="translator.echo(field.instruction?field.instruction:field.placeholder)"
           [placeholder]="translator.echo(field.placeholder)"
           [(ngModel)]="field._value"
    >
  </ng-container>

  <ng-container *ngSwitchCase="'place'">
    <p> unimplemented field : place </p>
  </ng-container>

  <ng-container *ngSwitchCase="'date'">
    <input [type]="date" class="bubble hover-w w-100 {{field.sclass}}"
           [value]="field.default"
           [title]="translator.echo(field.instruction?field.instruction:field.placeholder)"
           [placeholder]="translator.echo(field.placeholder)"
           [min]="field.min | dateForHtml : field.time"
           [max]="field.max | dateForHtml : field.time"
           [(ngModel)]="field._value"
    >
  </ng-container>

  <ng-container *ngSwitchCase="'period'" >
    <div class = "flex" *ngIf="field._values">
      <input [type]="date" class="bubble bubble-left hover-w col-6 {{field.sclass}}"
             [title]="translator.echo(field.instruction?field.instruction:field.placeholder)"
             [placeholder]="translator.echo(field.placeholder)"
             [min]="field.min | dateForHtml : field.time"
             [max]="field._values[1] | dateForHtml  : field.time"
             [(ngModel)]="field._values[0]"
      >

      <input [type]="date" class="bubble bubble-right hover-w col-6 {{field.sclass}}"
             [value]="field.default"
             [title]="translator.echo(field.instruction?field.instruction:field.placeholder)"
             [placeholder]="translator.echo(field.placeholder)"
             [min]="field._values[0] | dateForHtml : field.time"
             [max]="field.max | dateForHtml  : field.time"
             (change)="onChange()"
             [(ngModel)]="field._values[1]"
      >
    </div>
  </ng-container>

  <ng-container *ngSwitchCase="'url'">
    <input type="url" class="bubble hover-w w-100 {{field.sclass}}"
           [value]="field.default"
           [title]="translator.echo(field.instruction?field.instruction:field.placeholder)"
           [placeholder]="translator.echo(field.placeholder)"
           [(ngModel)]="field._value"
    >
  </ng-container>

  <ng-container *ngSwitchCase="'file'">
    <div  class="bubble hover-w w-100 bordered">
      <input type="file" class = "w-100 hover-w {{field.sclass}}"
             [value]="field.default"
             [title]="translator.echo(field.instruction?field.instruction:field.placeholder)"
             [placeholder]="translator.echo(field.placeholder)"
             [(ngModel)]="field._value"
      >
    </div>
 </ng-container>

  <ng-container *ngSwitchCase="'regex'">
    <input type="text" class="bubble hover-w w-100 {{field.sclass}}"
           [pattern]="field.regex?field.regex:'.*'"
           [value]="field.default"
           [title]="translator.echo(field.instruction?field.instruction:field.placeholder)"
           [placeholder]="translator.echo(field.placeholder)"
           [(ngModel)]="field._value"
    >
  </ng-container>
</ng-container>
